<div class="row breadcrumbs" aria-label="Breadcrumb" align="center" style="background-color: lightgrey;
height: 100px;">
    <h2 style="text-align: center;color: #4f4b4b;"> <b>WE ARE HIRING! </b> </h2>
</div>
<div class="container">

    <div align="center" style="padding-bottom: 30px;">
        <h3 style="color: #4f4b4b;"> <b>Why Join Us? </b></h3>
        <p>
            We are on the lookout for experienced, skilled, creative and bold people having a sense of ownership and responsibility who can fill the various open positions at Nandu’s. We need people with a go-getter attitude! If you are looking for a great environment
            to learn and advance your career, Nandu’s is the place for you.
        </p>


    </div>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div align="center" style="color: #4f4b4b;"><b>Pay</b></div>
            <p> If you have the talent and zeal to excel you will be rewarded appropriately.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div align="center" style="color: #4f4b4b;"><b>Growth Opportunity</b></div>
            <p> We offer each promising employee a chance to learn and grow in our organization.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div align="center" style="color: #4f4b4b;"><b>People</b></div>
            <p> You will work with some of the most energetic people who are passionate about making a difference. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div align="center" style="color: #4f4b4b;"><b>Culture and Values</b></div>
            <p> We conduct our business in ways that will earn your trust and we have values that you can be proud of. </p>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div align="center" style="color: #4f4b4b;"><b>Equal Opportunity Employer</b></div>
            <p> We treat all our partners and applicants equally, irrespective of their race, colour, religion, gender, age, physical or mental disability, marital status, and sexual orientation.</p>
        </div>
    </div>
    <div class="row" style="padding-bottom: 30px;">
        <b style="color: #4f4b4b;"> Explore Career Paths </b>
        <div style="    margin-left: 30px;">
            <li>
                In-Store
            </li>
            <li>
                Internships
            </li>
            <li>
                Corporate
            </li>
            <li>
                Manufacturing and Distribution
            </li>
        </div>
    </div>
    <div class="row" style="padding-bottom: 30px;">
        <b style="color: #4f4b4b;"> Open Positions</b>
        <p>We are one of the leading chicken brands in Bengaluru. We offer attractive opportunities for talented individuals. Here are the open positions s at Nandu’s under different departments: </p>
        <li>
            Store Manager
        </li>
        <li>
            Account Manager
        </li>
        <p>If you think that you would be able to contribute to our team but don’t quite fit in the roles listed, send us your resume and we will be in touch. </p>
    </div>
</div>