<div style="background-color: transparent;">
    <section id="top-header">
        <div class="container headerbtm">
            <div class="row">
                <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12 hidden-xs">
                    <ul class="left-li">
                        <li class="why hidden-xs"><a class="fontLoc" routerLink="/why">WHY NANDU'S?</a></li>
                        <li class="why hidden-xs"><a (click)="NavigatetoStores()" class="fontLoc" style="cursor: pointer;"><i
                                    class="locicon glyphicon glyphicon-map-marker"></i> VISIT STORE</a></li>
                        <li class="why hidden-xs"><a href="tel:1800-103-1310" class="fontLoc">CALL<strong
                                    style="margin-left: 5px;" class="fontLoc">1800-103-1310</strong></a></li>
                        <li class="why hidden-xs"><a class="handIcon fontLoc">DOWNLOAD APP<span></span></a>
                            <a href="https://play.google.com/store/apps/details?id=com.urbanpiper.nandus"><img alt="android" src="assets/images/icons/android.png" style="margin-left: 5px;"></a>
                            <a href="https://apps.apple.com/us/app/nandus-chicken/id1271411991"><img alt="apple" src="assets/images/icons/apple.png" style="margin-left: 5px;"></a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
                    <ul class="right-li hidden-xs">
                        <li class="social"><span><a href="https://www.facebook.com/nanduschicken"><img alt="facebook"
                                        src="assets/images/icons/facebook.png"></a><a
                                    href="https://www.instagram.com/nanduschicken/"><img alt="instagram"
                                        src="assets/images/icons/instagram.png"></a></span></li>
                        <li class="social"><a class="handIcon fontLoc" routerLink="/certified">WE ARE CERTIFIED</a></li>
                        <li class="social"><a class="handIcon fontLoc" routerLink="/careers">CAREERS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="location">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-8 col-md-6 col-lg-6"><span class="location fontLoc"><i
                            class="locicon glyphicon glyphicon-map-marker"></i>LOCATION:<span class="dropdown">
                            <button class="btn-primary dropdown-toggle" data-toggle="dropdown" #openLocationModal
                                id="loc_drop" type="button" title="{{location}}"
                                (click)="openModal('LocationModal')">{{location |slice : 0 : 26 }} <span
                                    class="caret"></span></button>
                    </span>
                    </span>
                </div>
                <div class="col-sm-12 col-xs-4 col-md-6 col-lg-6">
                    <ul class="usersearch">
                        <li class="hidden-xs"><img alt="searchbar" id="srch" src="assets/images/icons/search.png">
                            <input class="Search" placeholder="Search.." style="width: 100%;" type="" #box (keyup.enter)="onEnter(box.value)">
                        </li>
                        <li id="sign_color"><span data-toggle="modal" style="cursor: pointer;" (click)="openModal('SignInModal')">{{LoginStatus}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="main-header">
        <nav class="navbar navbar-default" id="nav_cust">
            <div class="container">
                <div class="navbar-header">
                    <button aria-expanded="false" class="navbar-toggle collapsed" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href=""><img alt="logo" id="nav-logo-img" height="28" width="140" src="{{WebsiteLogo}}"></a>
                </div>
                <div class="collapse navigation navbar-collapse" id="bs-example-navbar-collapse-1" style="display: none;">
                    <ul class="category-contents">
                        <li *ngFor="let category of categories" [class.active]="category.id === categoryId">
                            <a class="handIcon" (click)="GetProductsByCategoryId(category)">
                                {{ category.name }}
                            </a>
                        </li>
                    </ul>
                </div>

                <ul id="right" class="nav navbar-nav navbar-right">
                    <li class="mobile-wishlist">
                        <a href="#" class=""><i aria-hidden="true" class="wishListicon fa fa-heart"></i><span style="color:#757575">Wishlist</span></a>
                    </li>
                    <li>
                        <div class="cartDiv" (click)="Precheckout()">
                            <img alt="cart" src="assets/images/icons/bag.png">
                            <span class="item">{{ItemsCount }}</span>
                            <span class="item-price">
                                <span class="bold ml-20">
                                </span>Item(s):
                            <span class="bold">{{ItemsCount}}</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>
<app-location (selectedAddress)="SetLocation($event)"></app-location>
<app-login (LoginStatusChild)="changeLoginStatus($event)"></app-login>