.navigation {
    margin-top: 10px;
}

.navigation ul {
    display: table;
    /* margin: auto; */
}

.navigation ul li {
    list-style: none;
    float: left;
}

.navigation ul li.active a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    float: left;
    padding: 8px 0px 0px 58px;
    color: #69c131;
    position: relative;
}

.navigation ul li.active a::before {
    position: absolute;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 10px;
    margin-top: -1px;
    left: 38px;
    top: 11px;
    color: #69c131;
}

.navigation ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    float: left;
    padding: 8px 0px 0px 58px;
    color: #9b9b9b;
    position: relative;
}

.navigation ul li a:hover {
    color: #69c131;
}

.navigation ul li a:before {
    position: absolute;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 10px;
    margin-top: -1px;
    color: #9b9b9b;
    left: 38px;
    top: 11px;
}

.navigation ul li a:hover:before {
    position: absolute;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 10px;
    margin-top: -1px;
    color: #69c131;
    left: 38px;
    top: 11px;
}

.navigation ul li a.selected {
    color: #69c131;
}

.navigation ul li a.selected:before {
    position: absolute;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 10px;
    margin-top: -1px;
    color: #69c131;
    left: 54px;
    top: 11px;
}

.navigation ul.category-contents li .active a {
    color: #69c131;
}

.navigation ul.category-contents li .active a::before {
    position: absolute;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 10px;
    margin-top: -1px;
    color: #69c131;
    left: 54px;
    top: 11px;
}

.headerbtm {
    margin-bottom: 4px;
}

.locicon {
    font-size: 14px;
}

.fontLoc {
    font-size: small;
}

.mobile-wishlist {
    margin-top: -34px;
}

.wishListicon {
    padding-right: 3px;
    color: #69c131;
}