<div>
    <section id="footer">
        <div class="container">
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12"><img alt="" src="assets/images/footer/logo-1.png">
                <p class="footer-p">Nandu’s is a part of the Nanda Group which was founded in the year 1963. We revolutionized the poultry industry through process innovation and advanced technology while staying true to our motto of ‘All Healthy All Fresh’</p>
                <ul class="callus">
                    <li><a class="l-white" href="tel:1800-1031-310"><span class="f-ul-1">Call US:</span>
                            1800-1031-310</a></li>
                    <li><a class="l-white" href="mailto:Askus@nandus.com"><span class="f-ul-1">Write to us on:</span>
                            Askus@nandus.com </a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <ul class="menu-footer">
                    <li><a routerLink="/authentic"> Authentic Food</a></li>
                    <li><a routerLink="/why">Why Nandu's</a></li>
                    <li><a>In the News</a></li>
                    <li><a>Testimonials</a></li>
                    <li><a>Terms &amp; Conditions</a></li>
                    <li><a (click)="NavigatetoStores()">Find Store</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <p>Newsletter</p>
                <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                <div class="form-group news-div">
                    <input type="text" class="form-control footertxt" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-default news-btn">Subscribe</button>
                <div>
                    <ul class="new-li">
                        <li>
                            <p> Download App</p>
                            <p>
                                <a href="https://play.google.com/store/apps/details?id=com.urbanpiper.nandus" style="margin-right: 20px;"><img alt="android" src="assets/images/icons/android-icon.png"></a>
                                <a href="https://apps.apple.com/us/app/nandus-chicken/id1271411991"><img alt="apple" src="assets/images/icons/apple-icon.png"></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p>Copyright © 2019 Nandus</p>
                </div>
            </div>
        </div>
    </section>
</div>