<section>
    <div align="center" style="height: 100%;">
        <h3><b>WE ARE CERTIFIED</b></h3>
        <p class="description">
            Completely promote transparent networks via distributed informediaries. Uniquely utilize <br> value-added content with team driven "outside the box" thinking. Continually
        </p>
        <div>
            <img src="assets/images/certificate.jpg" class="img-responsive" height="600" width="500">
            <div class="container" align="center">
                <p>Being a responsible and recognised player in the fresh meat category, we have certifications from the following organizations: </p>
                <p> <b>  1. Food Safety and Standards Authority of India (FSSAI):</b> In India, strict rules and regulations are applied to ensure food safety. All food business has to operate according to The Food Safety and Standards Act, 2006 and any business
                    with an annual turnover of over ₹12 lakhs has to procure the FSSAI license. With an FSSAI license, your business will benefit in the following ways:</p>
                <div>
                    <li>
                        It ensures that your food is verified chemically and hence is safe to consume.
                    </li>
                    <li>
                        It makes a business reliable and a business can use the fact that it is certified <br>by FSSAI in its marketing and eventually gain more customers.
                    </li>
                    <li>A business obtains a license only after verification which is done at a chemical <br> level and checks each ingredient used in the making of the <br>product.</li>
                </div>
                <p><b>  2. Shriram Institute for Industrial Research:</b> The Shriram Institute for Industrial Research is a recognized institute that carries out research to establish products complying to FSSAI and other national and international standards,
                    nutritional facts, product registrations, quality checks, and food grade certifications.
                </p>
                <p><b> 3. Halal Certificate by Jamia Masjid, Krishnagiri:</b> A Halal Certificate assures that the products offered by an organization are thoroughly checked and are in accordance to the Islamic Shariah Laws. Since Halal consumers accept
                    and purchase products certified with the Halal seal, it is essential to obtain this certification before selling or exporting your products to Halal buyers.
                </p>
            </div>
        </div>

    </div>
</section>