<div>
    <section id="creadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="bold">Why Nandu's?</h3>
                    <div class="breadcrumbs" aria-label="Breadcrumb">
                        <ul>
                            <li> <a href="">Home</a></li>
                            <li aria-current="page">Why Nandu's?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="product-page" class="product--page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part1','clsnoColor':clsGreen!='part1'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img1.png" class="img-responsive"></div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part1','clsnoColor':clsGreen!='part1'}"><span>1</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Since 1963</h3>
                                    <p class="description">
                                        Nandu’s is a part of the Nanda Group which was founded in the year 1963. We revolutionized the poultry industry through process innovation and advanced technology while staying true to our motto of ‘All Healthy All Fresh’
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part2','clsnoColor':clsGreen!='part2'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img2.png" class="pull-right img-responsive">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part2','clsnoColor':clsGreen!='part2'}"><span>2</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Farm to Fork</h3>
                                    <p class="description">
                                        To keep our promise of offering fresh meat, we operate our own feed mill, hatchery, breeding farm, processing unit, and retail stores.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part3','clsnoColor':clsGreen!='part3'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img3.png" class="img-responsive"></div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part3','clsnoColor':clsGreen!='part3'}"><span>3</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Chicken Certified by Veterinarians</h3>
                                    <p class="description">The chicken raised at our poultry farms are always monitored for any infections and certified by veterinarians before reaching your plate. </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part4','clsnoColor':clsGreen!='part4'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img4.png" class="pull-right img-responsive">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part4','clsnoColor':clsGreen!='part4'}"><span>4</span></div>
                                <div class="inner-content">
                                    <h3 class="title">No Hormones, Steroids, Antibiotic Residue</h3>
                                    <p class="description">Our chicken is 100% traceable without injecting steroids, hormones or antibiotic residue offering customers most hygienic and safe products.</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part5','clsnoColor':clsGreen!='part5'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img6.png" class="pull-right img-responsive">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part5','clsnoColor':clsGreen!='part5'}"><span>5</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Halal Certified</h3>
                                    <p class="description">We offer chicken as per the guidelines set by the Islamic Sharia Law and our products safe for consumption.</p>

                                </div>
                            </a>
                        </div>
                        <div class="timeline" [ngClass]="{'clsGreenColor':clsGreen=='part6','clsnoColor':clsGreen!='part6'}">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img5.png" class="img-responsive"></div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part6','clsnoColor':clsGreen!='part6'}"><span>6</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Healthy </h3>
                                    <p class="description">We source the best ingredients to producenutrient-rich feed at our feed mills making sure that the chicken that you buy is healthy.</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline border">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon"><img src="assets/images/aboutus/img7.png" class="img-responsive"></div>
                                <div class="timeline-year" [ngClass]="{'clsGreenColor':clsGreen=='part7','clsnoColor':clsGreen!='part7'}"><span>7</span></div>
                                <div class="inner-content">
                                    <h3 class="title">Absolute Freshness </h3>
                                    <p class="description">We offer high-quality poultry products directly to customers adhering to strict global guidelines.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center;"></div>
        </div>
    </section>
</div>