<div class="container">
    <div align="center" style="color: black;padding-top: 10px;">
        <h3>
            <p> Happy Animals which Eat Good <br> Food are Healthier! </p>
        </h3>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p>
            To make chicken feed, we have our own poultry feed mills that produce cereals, coarse and fine powders, bran, molasses, and liquids. This superior quality feed is free from steroids and hormones. The feed is sent to all breeder farms and fed to breeder
            chickens that lay eggs which are used to rear broiler chickens.
        </p>
        <p>
            The eggs are sent to the hatcheries and after they are hatched, the chicks are shifted to bio-secure farms where they are fed nutritious feed from our own poultry feed mills. Their health is monitored daily by our own veterinary team and only the certified
            chickens are sent to the processing unit. The healthy chickens are sent to the processing unit in batches. The birds are checked again by the vets for any infections before being processed by adhering to strict halal guidelines.
        </p>
        <p>
            Once the chickens are processed, they are sent to the stores in temperature-controlled trucks that are maintained under hygienic conditions. Since we dispatch the chicken daily, we strictly follow a checklist so that we can easily trace its origin.
        </p>
        <p>
            All our retail outlets adhere to global standards in hygiene. There is no question of the meat being contaminated in any way. We follow a robust system that ensures freshness is never lost. Moreover, a guarantee of zero-foul smell and cleanliness are
            the highlights of each outlet.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-12" align="center" style="color: black;padding-top: 10px;">
        <h4>It’s our promise! </h4>

    </div>
    <div class="col-md-10" align="center" style="padding-left: 218px;">
        <div class="col-md-4">
            <li class="clsLeft"> No Hormones</li>
        </div>
        <div class="col-md-4">
            <li class="clsLeft"> Solar Powered Farms </li>
        </div>
        <div class="col-md-4">
            <li class="clsLeft"> No Steroids</li>
        </div>



    </div>
    <div class="col-md-10" align="center" style="padding-top: 6px;padding-left: 218px;
    padding-bottom: 26px;">
        <div class="col-md-4">
            <li class="clsLeft"> Environment-friendly </li>

        </div>
        <div class="col-md-4">
            <li class="clsLeft"> No Antibiotic Residue </li>
        </div>
    </div>
    <div class="col-md-12" align="center">
        <p>
            And so, with every chick that’s born, we show we care. For you!
        </p>
    </div>
</div>